@use "../../helpers" as *;

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: rgba($color: #000, $alpha: 0.4);

  &-content {
    padding: rem(25);
    background-color: white;
    border-radius: rem(16);
    background-color: var(--color-dark-40);
  }

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
